
/* Open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('./Globals.css');

* {
    font-family: 'Open sans';
    transition-property: all;
    transition-duration:0.5s;
}

.txt {
    text-shadow:0px 0px 5px black;
    color:white;
}

.main {
    background-color:var(--red-light);
    display:flex;
    flex-direction:column;
    row-gap:30px;
    width:100%;
}

.tool {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    row-gap:30px;
}

.inputs {
    width:80%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap:4px;
}

.btn {
    border:none;
    background-color:var(--light-green);
    color:white;
    padding:10px;
    width:140px;
    height:50px;
    font-size:16px;
    text-align:center;
    border-radius:6px;
    cursor:pointer;
}

.btn:hover {
    background-color: #3a9b0d57;
}

@media only screen and (max-width:510px) {
    .inputs {
        grid-template-columns:1fr;
    }

    .inputs #caption-1 {
        grid-row-start:1;
        grid-row-end:2;
    }

    .inputs #caption-2 {
        grid-row-start:3;
        grid-row-end:4;
    }

}